CSharp Temel Uygulamalar/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.vshost.exe
CSharp Temel Uygulamalar/WindowsFormsApplication1/bin/Debug/WindowsFormsApplication1.vshost.exe
*.exe
*.suo